body{
    margin:0;
    padding:0;

}
nav{
    background-color:royalblue;
    width:100vw;
    height:60px;

}
ul{
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:end;
}
li:first-child {
    position: absolute;
    left: 25px;
    padding: 8px 10px;
    box-sizing:border-box;
}
li{

    padding:8px 10px;
    list-style:none;
    box-sizing:border-box;
}
    li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 8px 22px;
        margin:0px;
        box-sizing: border-box;
        font-weight: 600;
    }
li a:hover{
  background-color:red;  
}