@model ContactUs;
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
<fieldset>
    <br />
    <center> <legend style="font-family: Arial Black; color:blue; font-size:large; font-size:30px;">Find Us Here!</legend></center>
    <br />
    <br />
    <br />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>

    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(22.241030600000002, 70.9018797529635);
            var mapProp = {
                center: myCenter,
                zoom: 12,
                scrollwheel: false,
                draggable: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2KW2qNnpUtuxOxEyqfXjekvD1C9Wthhg&callback=myMap"></script>

</fieldset>


<br />
<br />
<br />


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5><button class="footer-button about-us-button">About Us</button></h5>
            <p class="about-us-text">
                A Safe Tour and Travel Agency is dedicated to providing travelers with safe, enjoyable, and memorable travel experiences.
                With a focus on customer satisfaction and safety, our agency offers a wide range of travel services, including domestic
                and international tour packages, transportation arrangements, accommodation bookings, and travel insurance.
            </p>
        </div>
        <div class="col-md-4">
            <h5><button class="footer-button contact-us-button">Contact Us</button></h5>
            <p>Address: Rajkot, Gujrat, India</p>
            <p>Email:<a href="https://mail.google.com/mail/u/0/#inbox">psuraj982@rku.ac.in</a></p>
            <p>Phone: +91 9956301245</p>
            <p>WhatsApp: +91 9956443809</p>
        </div>
        <div class="col-md-4">
            <h5><button class="footer-button follow-us-button">Follow Us</button></h5>
            <p>Stay updated with our latest news and updates by following us on social media:</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
            </ul>
            <p>Follow us for exclusive content, promotions, and behind-the-scenes updates!</p>
        </div>


      <hr />
    </div>
</div>

<style>
    .bd-color {
        background-color: antiquewhite;
    }

    .footer-button {
        background-color: blueviolet;
        color: white;
        border-radius: 8px;
        border: none;
        padding: 1px 20px;
    }

    .about-us-button {
        background-color: teal;
        block-size: 40px;
    }

    .contact-us-button {
        background-color: crimson;
        block-size: 40px;
    }

    .follow-us-button {
        background-color: darkorange;
        block-size: 40px;
    }

    .about-us-text {
        text-align: justify;
    }

</style>




*@


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="https://www.drawhipo.com/wp-content/uploads/2021/04/Contact-us-Scene-4-Curved-520x325.png" alt="Professional People Working" class="img-fluid" style="max-height:300px;width:auto;">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="contact-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="tel" id="mobile" name="mobile" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 50px; /* Adjust as needed */
    }

    .contact-form {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    /* Center the image horizontally */
    .text-center img {
        display: block;
        margin: 0 auto;
    }
</style>

